.conteiner-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.conteiner-products{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}